{% extends 'base.html.twig' %}

{% block title %}MyTOC - TOC{% endblock %}

{% block body %}
    <a href="{{ path('app_toc_index') }}">Volver</a>
    <h1 class="h3 mb-3 font-weight-normal">Editar TOC {{ toc.name }}</h1>
    {{ include('toc/_form.html.twig', {'button_label': 'Actualizar'}) }}
    {{ include('toc/_delete_form.html.twig') }}
{% endblock %}
