<form class="p-0 mt-1 bg-white" method="post" action="{{ path('app_clinic_delete', {'id': clinic.id}) }}" onsubmit="return confirm('¿Estás seguro/a de que deseas eliminar esta clínica?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ clinic.id) }}">
    <button class="btn btn-danger">Eliminar</button>
</form>
