<form class="p-0 mt-1 bg-white" method="post" action="{{ path('app_event_delete', {'id': event.id}) }}" onsubmit="return confirm('¿Estás seguro/a de que deseas eliminar este evento?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ event.id) }}">
    <button class="btn btn-danger">Eliminar</button>
</form>
