{% extends 'base.html.twig' %}

{% block title %}MyTOC - Evento{% endblock %}

{% block body %}
    <a href="{{ path('app_event_index') }}" class="mb-2">Volver</a>
    <h1 class="h3 mb-3 font-weight-normal h1-edit-create">Editar evento</h1>
    <br>
    {{ include('event/_form.html.twig', {'button_label': 'Actualizar'}) }}
{% endblock %}
