{% extends 'base.html.twig' %}

{% block title %}MyTOC - Thread doc{% endblock %}

{% block body %}
    <h1>API doc</h1>
    <h4>Thread</h4>
    <br>
    <table class="table w-50">
        <thead>
            <tr>
                <th>Request</th>
                <th>Path / Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="bg-primary rounded mx-auto d-block">
                    <a class="nav-link text-white text-center p-0" href="{{ path('app_api_thread_get_one', {'id': '1'}) }}">GET</a>
                </td>
                <td><code class="mx-2">/api/thread/{id}</code> Recupera un recurso Thread</td>
            </tr>
            <tr>
                <td class="bg-warning rounded mx-auto d-block">
                    <a class="nav-link text-white text-center p-0" href="#ejemplo_json_thread">PUT</a>
                </td>
                <td><code class="mx-2">/api/thread/{id}</code> Reemplaza el recurso Thread</td>
            </tr>
            <tr>
                <td class="bg-danger rounded mx-auto d-block">
                    <a class="nav-link text-white text-center p-0" href="#ejemplo_json_thread">DELETE</a>
                </td>
                <td><code class="mx-2">/api/thread/{id}</code> Elimina el recurso Thread</td>
            </tr>
            <tr>
                <td class="bg-primary rounded mx-auto d-block">
                    <a class="nav-link text-white text-center p-0" href="{{ path('app_api_thread_get_all') }}">GET</a>
                </td>
                <td><code class="mx-2">/api/thread</code> Recupera la colección de recursos Thread</td>
            </tr>
            <tr>
                <td class="bg-success rounded mx-auto d-block">
                    <a class="nav-link text-white text-center p-0" href="#ejemplo_post_thread">POST</a>
                </td>
                <td><code class="mx-2">/api/thread</code> Crea un recurso Thread</td>
            </tr>
        </tbody>
    </table>
    <br>
    <h4>Schemas</h4>
    <br>
    <table class="table w-50">
        <thead>
            <tr>
                <th>Field</th>
                <th>Type / Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="bg-secondary text-white text-center h5 mx-auto d-block">id</td>
                <td><code class="mx-2 text-primary">integer</code> El id de este thread</td>
            </tr>
            <tr>
                <td class="bg-secondary text-white text-center h5 mx-auto d-block">author</td>
                <td><code class="mx-2 text-primary">integer</code> El id del usuario que crea este thread</td>
            </tr>
            <tr>
                <td class="bg-secondary text-white text-center h5 mx-auto d-block">title</td>
                <td><code class="mx-2 text-primary">string</code> El título de este thread</td>
            </tr>
            <tr>
                <td class="bg-secondary text-white text-center h5 mx-auto d-block">date</td>
                <td><code class="mx-2 text-primary">string($date-time)</code> La fecha de publicación de este thread</td>
            </tr>
            <tr>
                <td class="bg-secondary text-white text-center h5 mx-auto d-block">visible</td>
                <td><code class="mx-2 text-primary">boolean</code> Estado de visibilidad de este thread</td>
            </tr>
        </tbody>
    </table>
    <br>
    <h4>Ejemplo JSON de thread</h4>
    <br>
    <div id="ejemplo_json_thread" class="container w-50">
        <code class="mx-6">{</code><br>
        <code class="mx-6">&nbsp;&nbsp; "id": 1,</code><br>
        <code class="mx-6">&nbsp;&nbsp; "title": "Estoy obsesionada con el orden de mi armario",</code><br>
        <code class="mx-6">&nbsp;&nbsp; "date": "2025-03-04T22:39:33+01:00",</code><br>
        <code class="mx-6">&nbsp;&nbsp; "visible": true,</code><br>
        <code class="mx-6">&nbsp;&nbsp; "author": {</code><br>
            <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp; "id": 5,</code><br>
            <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp; "username": "esmeralda",</code><br>
            <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp; "roles": &#91;</code><br>
            <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; "ROLE_USER"</code><br>
            <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp; &#93;,</code><br>
            <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp; "password": "$2y$13$d97UHJ6u3w5bAKFNq9Prv.LcD1g7pf3raQBaoP2yS/zfkijtVavJe",</code><br>
            <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp; "email": "esmeralda@gmail.com",</code><br>
            <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp; "image": "esmeralda-67d84ffe26e10.png",</code><br>
            <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp; "banned": false</code><br>
        <code class="mx-6">&nbsp;&nbsp; }</code><br>
        <code class="mx-6">}</code>
    </div>
    <br>
    <h4>Ejemplo de datos esperados para POST</h4>
    <br>
    <div id="ejemplo_post_thread" class="container w-50">
        <code class="mx-6">{</code><br>
        <code class="mx-6">&nbsp;&nbsp; "author": 1,</code><br>
        <code class="mx-6">&nbsp;&nbsp; "title": "Tengo que comprobar varias veces el butano antes de irme a dormir"</code><br>
        <code class="mx-6">}</code>
    </div>
{% endblock %}
