{% extends 'base.html.twig' %}

{% block title %}MyTOC - Compulsion doc{% endblock %}

{% block body %}
    <h1>API doc</h1>
    <h4 class="h4-api-doc">Compulsion</h4>
    <br>
    <div class="container table-responsive">
        <table class="table mx-auto" style="width: auto;">
            <thead class="bg-light">
                <tr>
                    <th>Request</th>
                    <th>Path / Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="bg-primary rounded mx-auto d-block">
                        <a class="nav-link text-white text-center p-0" href="{{ path('app_api_compulsion_get_one', {'id': '1'}) }}">GET</a>
                    </td>
                    <td><code class="mx-2">/api/compulsion/{id}</code> Recupera un recurso Compulsion</td>
                </tr>
                <tr>
                    <td class="bg-primary rounded mx-auto d-block">
                        <a class="nav-link text-white text-center p-0" href="{{ path('app_api_compulsion_get_all') }}">GET</a>
                    </td>
                    <td><code class="mx-2">/api/compulsion</code> Recupera la colección de recursos Compulsion</td>
                </tr>
                <tr>
                    <td class="bg-success rounded mx-auto d-block">
                        <a class="nav-link text-white text-center p-0" href="#ejemplo_post_compulsion">POST</a>
                    </td>
                    <td><code class="mx-2">/api/compulsion</code> Crea un recurso Compulsion</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <h4 class="h4-api-doc">Schemas</h4>
    <br>
    <div class="container table-responsive">
        <table class="table mx-auto" style="width: auto;">
            <thead class="bg-light">
                <tr>
                    <th>Field</th>
                    <th>Type / Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="bg-secondary text-white text-center h5 mx-auto d-block">id</td>
                    <td><code class="mx-2 text-primary">integer</code> El id de esta compulsion</td>
                </tr>
                <tr>
                    <td class="bg-secondary text-white text-center h5 mx-auto d-block">user</td>
                    <td><code class="mx-2 text-primary">integer</code> El id del usuario que crea esta compulsion</td>
                </tr>
                <tr>
                    <td class="bg-secondary text-white text-center h5 mx-auto d-block">toc</td>
                    <td><code class="mx-2 text-primary">integer</code> El id del toc al que pertenece esta compulsion</td>
                </tr>
                <tr>
                    <td class="bg-secondary text-white text-center h5 mx-auto d-block">date</td>
                    <td><code class="mx-2 text-primary">string($date-time)</code> La fecha de esta compulsion</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <h4 class="h4-api-doc">Ejemplo JSON de compulsion</h4>
    <br>
    <div class="container w-50">
        <code class="mx-6">{</code><br>
        <code class="mx-6">&nbsp;&nbsp; "id": 1,</code><br>
        <code class="mx-6">&nbsp;&nbsp; "date": "2025-03-22T21:47:00+01:00",</code><br>
        <code class="mx-6">&nbsp;&nbsp; "user": {</code><br>
            <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp; "id": 1,</code><br>
            <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp; "username": "jorge",</code><br>
            <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp; "roles": &#91;</code><br>
            <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; "ROLE_USER",</code><br>
            <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; "ROLE_ADMIN"</code><br>
            <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp; &#93;,</code><br>
            <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp; "password": "$2y$13$ooUDDgXNfvv8hqhl20nROut5O8Jl0h4QRzUmGPjoVi/GpSz5TQuD.",</code><br>
            <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp; "email": "jfplaper@gmail.com",</code><br>
            <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp; "image": "foto-perfil-jorge.png",</code><br>
            <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp; "banned": false</code><br>
        <code class="mx-6">&nbsp;&nbsp; },</code><br>
        <code class="mx-6">&nbsp;&nbsp; "toc": {</code><br>
            <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp; "id": 2,</code><br>
            <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp; "name": "Verificación",</code><br>
            <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp; "description": "Necesidad constante de revisar cosas, como cerraduras",</code><br>
            <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp; "image": "verificacion-67d846eb0d445.jpg",</code><br>
            <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp; "customed": false,</code><br>
            <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp; "creator": {</code><br>
                <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; "id": 2,</code><br>
                <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; "username": "nacho",</code><br>
                <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; "roles": &#91;</code><br>
                <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; "ROLE_USER",</code><br>
                <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; "ROLE_ADMIN"</code><br>
                <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &#93;,</code><br>
                <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; "password": "$2y$13$6yyiBE3xgzy2OmTr9BafBumPoUDsGAqqfz0xxpdjexjDnkTnSOoZC",</code><br>
                <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; "email": "nacho@gmail.com",</code><br>
                <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; "image": "batman-67d61b0f7dc96.png",</code><br>
                <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; "banned": false</code><br>
            <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp; }</code><br>
        <code class="mx-6">&nbsp;&nbsp; }</code><br>
        <code class="mx-6">}</code>
    </div>
    <br>
    <h4 class="h4-api-doc">Ejemplo de datos esperados para POST</h4>
    <br>
    <div id="ejemplo_post_compulsion" class="container w-50">
        <code class="mx-6">{</code><br>
        <code class="mx-6">&nbsp;&nbsp; "user": 1,</code><br>
        <code class="mx-6">&nbsp;&nbsp; "toc": 3</code><br>
        <code class="mx-6">}</code>
    </div>
{% endblock %}
