{% extends 'base.html.twig' %}

{% block title %}MyTOC - Event doc{% endblock %}

{% block body %}
    <h1>API doc</h1>
    <h4>Event</h4>
    <br>
    <table class="table w-50">
        <thead>
            <tr>
                <th>Request</th>
                <th>Path / Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="bg-primary rounded mx-auto d-block">
                    <a class="nav-link text-white text-center p-0" href="{{ path('app_event_get_one', {'id': '1'}) }}">GET</a>
                </td>
                <td><code class="mx-2">/api/event/{id}</code> Recupera un recurso Event</td>
            </tr>
            <tr>
                <td class="bg-primary rounded mx-auto d-block">
                    <a class="nav-link text-white text-center p-0" href="{{ path('app_api_event_get_all') }}">GET</a>
                </td>
                <td><code class="mx-2">/api/event</code> Recupera la colección de recursos Event</td>
            </tr>
        </tbody>
    </table>
    <br>
    <h4>Schemas</h4>
    <br>
    <table class="table w-50">
        <thead>
            <tr>
                <th>Field</th>
                <th>Type / Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="bg-secondary text-white text-center h5 mx-auto d-block">id</td>
                <td><code class="mx-2 text-primary">integer</code> El id de este evento</td>
            </tr>
            <tr>
                <td class="bg-secondary text-white text-center h5 mx-auto d-block">creator</td>
                <td><code class="mx-2 text-primary">integer</code> El id del usuario que crea este evento</td>
            </tr>
            <tr>
                <td class="bg-secondary text-white text-center h5 mx-auto d-block">title</td>
                <td><code class="mx-2 text-primary">string</code> El título de este evento</td>
            </tr>
            <tr>
                <td class="bg-secondary text-white text-center h5 mx-auto d-block">text</td>
                <td><code class="mx-2 text-primary">string</code> El texto o contenido de este evento</td>
            </tr>
            <tr>
                <td class="bg-secondary text-white text-center h5 mx-auto d-block">date</td>
                <td><code class="mx-2 text-primary">string($date-time)</code> La fecha de publicación de este evento</td>
            </tr>
            <tr>
                <td class="bg-secondary text-white text-center h5 mx-auto d-block">location</td>
                <td><code class="mx-2 text-primary">string</code> <i class="text-secondary">(nullable: true)</i> La ubicación de este evento</td>
            </tr>
            <tr>
                <td class="bg-secondary text-white text-center h5 mx-auto d-block">price</td>
                <td><code class="mx-2 text-primary">integer</code> <i class="text-secondary">(nullable: true)</i> El precio de este evento</td>
            </tr>
            <tr>
                <td class="bg-secondary text-white text-center h5 mx-auto d-block">image</td>
                <td><code class="mx-2 text-primary">string</code> El nombre de la imagen de este evento</td>
            </tr>
        </tbody>
    </table>
    <br>
    <h4>Ejemplo JSON de event</h4>
    <br>
    <div class="container w-50">
        <code class="mx-6">{</code><br>
        <code class="mx-6">&nbsp;&nbsp; "id": 1,</code><br>
        <code class="mx-6">&nbsp;&nbsp; "title": "Conferencia sobre cómo abordar el TOC",</code><br>
        <code class="mx-6">&nbsp;&nbsp; "text": "Os invitamos a una conferencia de puertas abiertas...",</code><br>
        <code class="mx-6">&nbsp;&nbsp; "date": "2025-06-21T18:00:00+02:00",</code><br>
        <code class="mx-6">&nbsp;&nbsp; "location": "Facultad de Psicología, Granada",</code><br>
        <code class="mx-6">&nbsp;&nbsp; "price": null,</code><br>
        <code class="mx-6">&nbsp;&nbsp; "image": "evento-conferencia-67ddb0cb97cc4.jpg",</code><br>
        <code class="mx-6">&nbsp;&nbsp; "creator": {</code><br>
            <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp; "id": 1,</code><br>
            <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp; "username": "jorge",</code><br>
            <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp; "roles": &#91;</code><br>
            <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; "ROLE_USER",</code><br>
            <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; "ROLE_ADMIN"</code><br>
            <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp; &#93;,</code><br>
            <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp; "password": "$2y$13$ooUDDgXNfvv8hqhl20nROut5O8Jl0h4QRzUmGPjoVi/GpSz5TQuD.",</code><br>
            <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp; "email": "jfplaper@gmail.com",</code><br>
            <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp; "image": "foto-perfil-jorge.png",</code><br>
            <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp; "banned": false</code><br>
        <code class="mx-6">&nbsp;&nbsp; }</code><br>
        <code class="mx-6">}</code>
    </div>
{% endblock %}
