{% extends 'base.html.twig' %}

{% block title %}MyTOC - Clinic doc{% endblock %}

{% block body %}
    <h1>API doc</h1>
    <h4>Clinic</h4>
    <br>
    <table class="table w-50">
        <thead>
            <tr>
                <th>Request</th>
                <th>Path / Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="bg-primary rounded mx-auto d-block">
                    <a class="nav-link text-white text-center p-0" href="{{ path('app_api_clinic_get_one', {'id': '1'}) }}">GET</a>
                </td>
                <td><code class="mx-2">/api/clinic/{id}</code> Recupera un recurso Clinic</td>
            </tr>
            <tr>
                <td class="bg-primary rounded mx-auto d-block">
                    <a class="nav-link text-white text-center p-0" href="{{ path('app_api_clinic_get_all') }}">GET</a>
                </td>
                <td><code class="mx-2">/api/clinic</code> Recupera la colección de recursos Clinic</td>
            </tr>
        </tbody>
    </table>
    <br>
    <h4>Schemas</h4>
    <br>
    <table class="table w-50">
        <thead>
            <tr>
                <th>Field</th>
                <th>Type / Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="bg-secondary text-white text-center h5 mx-auto d-block">id</td>
                <td><code class="mx-2 text-primary">integer</code> El id de esta clínica</td>
            </tr>
            <tr>
                <td class="bg-secondary text-white text-center h5 mx-auto d-block">name</td>
                <td><code class="mx-2 text-primary">string</code> El nombre de esta clínica</td>
            </tr>
            <tr>
                <td class="bg-secondary text-white text-center h5 mx-auto d-block">location</td>
                <td><code class="mx-2 text-primary">string</code> La ubicación de esta clínica</td>
            </tr>
            <tr>
                <td class="bg-secondary text-white text-center h5 mx-auto d-block">email</td>
                <td><code class="mx-2 text-primary">string</code> <i class="text-secondary">(nullable: true)</i> El email de esta clínica</td>
            </tr>
            <tr>
                <td class="bg-secondary text-white text-center h5 mx-auto d-block">phone</td>
                <td><code class="mx-2 text-primary">string</code> <i class="text-secondary">(nullable: true)</i> La teléfono de esta clínica</td>
            </tr>
            <tr>
                <td class="bg-secondary text-white text-center h5 mx-auto d-block">url</td>
                <td><code class="mx-2 text-primary">string</code> <i class="text-secondary">(nullable: true)</i> La url o sitio web de esta clínica</td>
            </tr>
            <tr>
                <td class="bg-secondary text-white text-center h5 mx-auto d-block">description</td>
                <td><code class="mx-2 text-primary">string</code> La descripción de esta clínica</td>
            </tr>
            <tr>
                <td class="bg-secondary text-white text-center h5 mx-auto d-block">image</td>
                <td><code class="mx-2 text-primary">string</code> El nombre de la imagen de esta clínica</td>
            </tr>
        </tbody>
    </table>
    <br>
    <h4>Ejemplo JSON de clinic</h4>
    <br>
    <div class="container w-50">
        {# {{ clinics[0]|serialize(format = 'json') }} It does work here #}
        <code class="mx-6">{</code><br>
        <code class="mx-6">&nbsp;&nbsp; "id": 1,</code><br>
        <code class="mx-6">&nbsp;&nbsp; "name": "ITEGRA Psicología",</code><br>
        <code class="mx-6">&nbsp;&nbsp; "location": "C/ Méndez Núñez, 7, Local 23, 18003 - Granada",</code><br>
        <code class="mx-6">&nbsp;&nbsp; "email": null,</code><br>
        <code class="mx-6">&nbsp;&nbsp; "phone": "628595531",</code><br>
        <code class="mx-6">&nbsp;&nbsp; "url": "https://www.itegrapsicologia.com/psicologo-especialista-en-toc/",</code><br>
        <code class="mx-6">&nbsp;&nbsp; "description": "Especializados en el tratamiento del TOC, ofrecen...",</code><br>
        <code class="mx-6">&nbsp;&nbsp; "image": "itegra-67d8976829672.jpg"</code><br>
        <code class="mx-6">}</code>
    </div>
{% endblock %}
