<form class="p-0 mt-1 bg-white" method="post" action="{{ path('app_thread_delete', {'id': thread.id}) }}" onsubmit="return confirm('¿Estás seguro/a de que deseas eliminar este thread?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ thread.id) }}">
    <button class="btn btn-danger">Eliminar</button>
</form>
