@import "tailwindcss";

/* Declaración de variables */
:root {
    --main-green-color: #2ABF7A;
    --main-blue-color: #2AB7FA;
    --main-lightgreen-color: #ccdfcd;
}

/* Importa la fuente Montserrat para poder usarla en cualquier momento */
@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Regular.woff2') format('woff2'),
        url('/fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Bold.woff2') format('woff2'),
        url('/fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* Se aplica a todos los elementos dentro del body (cuerpo) del documento HTML */
body { font-family: 'Montserrat', sans-serif; }

/* ----------------------------------- CONTAINER BUTTON UP ARROW ------------------------------------- */

/* Estilo aplicado al contenedor que contiene otro contenedor para el botón de subir a lo alto de la página */
#container-button-up {
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 360px;
    z-index: 1;
    margin: 5px 25px;
}

#container-button-up div {
    width: 50px;
    height: 50px;
    background-color: var(--main-blue-color);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container-button-up a { font-size: 3rem; font-weight: 900; color: #FFF; text-decoration: none; }

/* ---------------------------------------- LOWER PAGE ZONE ------------------------------------------ */

/* Clase aplicada al contenedor que contiene el section de las estadísticas y el de los testimonios */
.lower-container { margin: 0 auto; max-width: 1200px; overflow: visible; }

/*---------------------------------- SECTION STATISTICS ------------------------------- */

/* Clase aplicada al section de la parte de estadísticas */
.statistics {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 50px 0;
    padding: 0px 20px;
}

/* Clase aplicada a los contenedores que contienen un título y un contenedor para la barra vertical */
.statistics_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

/* Clase aplicada a los contenedores que contienen la barra vertical */
.stats_subcontainer {
    width: 100px;
    height: 0px;
    background-image: linear-gradient(to bottom right, #2ABF7A, #ccdfcd);
    border-right: 3px solid #2e2e2e;
    border-left: 3px solid #2e2e2e;
    border-bottom: 3px solid #2e2e2e;
    transform-origin: 0 100%;
    transition: transform 2s;
    transform: scaleY(0);
}

/* Estilo aplicado específicamente a uno de los contenedores que contiene la barra vertical */
.statistics:hover #statistics_worldwide { height: 200px; transform: scaleY(1); }

/* Estilo aplicado específicamente a uno de los contenedores que contiene la barra vertical */
.statistics:hover #statistics_spain { height: 50px; transform: scaleY(1); }

/* Estilo aplicado específicamente a uno de los contenedores que contiene la barra vertical */
.statistics:hover #statistics_recovery { height: 100px; transform: scaleY(1); }
