<form class="p-0 mt-1 bg-white" method="post" action="{{ path('app_comment_delete', {'id': comment.id}) }}" onsubmit="return confirm('¿Estás seguro/a de que deseas eliminar este comentario?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
    <button class="btn btn-danger">Eliminar</button>
</form>
