{% extends 'base.html.twig' %}

{% block title %}MyTOC - Usuario{% endblock %}

{% block body %}
    <a href="{{ path('app_user_index') }}">Volver</a>
    <h1 class="h3 mb-3 font-weight-normal">Editar usuario {{ user.username }}</h1>
    {{ include('user/_form.html.twig', {'button_label': 'Actualizar'}) }}
    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
