{% extends 'base.html.twig' %}

{% block title %}MyTOC - Usuario{% endblock %}

{% block body %}
    <a href="{{ path('app_user_index') }}" class="mb-2">Volver</a>
    <h1 class="h3 mb-3 font-weight-normal">Editar usuario</h1>
    <br>
    {{ include('user/_form.html.twig', {'button_label': 'Actualizar'}) }}
{% endblock %}
